{
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 120,
	"semi": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"requirePragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "ignore",
	"tabWidth": 4,
	"useTabs": true
}
